.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d525b;
    padding: 10px 20px;
  }
  
  .header .logo h1 {
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }

.logo{
height: 60px;
}