.products {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .products h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .product-item {
    margin-bottom: 40px;
  }
  
  .product-item h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .product-item p {
    font-size: 18px;
  }
  